@model ProductVM
@{
    ViewData["Title"] = "Product Details";
}

<p>Name: @Model.ProductName</p>
<p>Description: @Model.Description</p>
<p>Category: @Model.Category</p>
<p>Price: @Model.ProductPrice $</p>

<p>------------------------------------------------</p>
